.destination {
  --flow-space: 2rem;
  grid-template-areas:
    "title"
    "image"
    "tabs"
    "article";
}
.destination > .title {
  grid-area: title;
}

.destination > picture {
  grid-area: image;
  max-width: 60%;
  margin-inline: auto;
}

.destination > section {
  grid-area: tabs;
  margin: 0 auto;
}

.destination > article {
  grid-area: article;
  text-align: justify;
  place-items: center;
}

.meta {
  flex-direction: column;
  border-top: 1px solid hsl(var(--clr-white) / 0.1);
  padding-top: 2.5rem;
  margin-top: 2.5rem;
}

@media (min-width: 35rem) {
  h2 {
    justify-self: center;
  }
  .meta {
    flex-direction: row;
    justify-content: space-evenly;
  }
}


@media (min-width: 45rem) {
  .destination {
    text-align:center;
    justify-items: center;
    grid-template-areas:
      "title title tabs ."
      "image image tabs ."
      "image image article .";
  }
  .destination > picture {
    max-width: 50%;
  }
 
}
